.content-container {
    min-height: 80vh;
}

.collection_nav {
    z-index: 99;
    list-style-type: none; /* Remove bullets */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.collection_nav_item {
    font-size: 3rem;
    text-decoration: none;
    line-height: 1cm;
    margin-bottom: 1rem;
}

.about-container {
    position: absolute;
    top: 5%;
    right: 5%;
    text-align: right;
    line-height: 0.5cm;
}

.phil {
    color: white;
    text-decoration: none;
}

.phil:hover {
    color: lightblue;
}

.about:hover {
    color: lightblue;
}

.modal-container {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin-bottom: 0;
    padding: 0.2rem;
}

.p {
    margin-bottom: 0;
}

.description-container {
    font-size: 1rem;
    position: absolute;
    bottom: 5%;
    right: 5%;
    margin-bottom: 1.5rem;
    line-height: 0.5cm;
    text-align: right;
}

.image {
    height: 100vh;
    z-index: -1;
}

.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
}

.example-enter {
    opacity: 0.01;
  }
  
  .example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .example-leave {
    opacity: 1;
  }
  
  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

@media screen and (max-width: 768px) {
    .collection_nav_item {
      display: flex;
      font-size: 2.3rem;
      line-height: 0.5cm;
    }

    .collection_nav_item {
        line-height: 0.5cm;
    }

    .modal-container {
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 999;
    }
  }