.content-container {
    min-height: 80vh;
}

.collection_nav {
    z-index: 99;
    list-style-type: none; /* Remove bullets */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.collection_nav_item {
    font-size: 3rem;
    text-decoration: none;
    line-height: 1cm;
    margin-bottom: 1rem;
}

.image {
    height: 100vh;
    z-index: -1;
}

.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    z-index: -1;
}